@import "tailwindcss";

@theme {
  --color-background: #393E41;
  --color-text-color: #E7E5DF;
  --color-background-components:  rgba(40, 44, 46, 0.75);
  
  --color-primary: #F8333C;
  --color-stroke: #1F2224;

  --font-primary: "Bai Jamjuree", "sans-serif"; 
  --font-secondary: "Asap", "sans-sefif";
}